{% extends "base.html" %}

{% block content %}


<h1> sign up </h1>
  <form method="POST" action="/signup">
  {{ form.csrf_token  }}

  <fieldest class="name"> 
    {{ form.name.label }}
    {{ form.name(placeholder="parisa") }}
    {% if form.name.errors  %}
    <ul class="errors">
        {% for error in form.name.errors %}
        <li>{{ error }}</li>{% endfor %}
    </ul>
      {% endif %}
  </fieldest>
  <fieldset class="last_name">
      {{ form.last_name.label }}
      {{ form.last_name(placeholder="mosavi") }}
      {% if form.last_name.errors %}
      <ul class="errors" >
        {% for error in form._last_name.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul> 
      {% endif %}

  </fieldset>      
  <fieldset class="email">
      {{ form.email.label }}
      {{ form.email(placeholder="parisa@gmail.com") }}
      {% if form.email.errors %}
      <ul class="errors">
        {% for error in form.confirm.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
  </fieldset>
  <fieldset class='password'>
      {{ form.password.label }}
      {{ form.password }}
      {% if form.password.errors %}
      <ul class="errors">
       {% for error in form.password.errors %}
         <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
  </fieldset>
  <fieldset class="confirm">
      {{ form.confirm.label }}
      {{ form.confirm }}
      {% if form.confirm.errors %}
      <ul class="errors">
        {% for error in form.confirm.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
  </fieldset> 

  <div class="submit-button">
    {{ form.submit }}
   </div>
   {% with messages = get_flashed_messages() %}
    {% for message in messages %}
   <br>
     {{ message }}
    {% endfor %}
   {% endwith %} 
  </form>      
     
    

{% endblock %}














